<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Completed tasks!!!</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>

<body>
  <main>
    <div class="relative mb-4">
      <h1 class="text-center text-xl font-bold">List</h1>
      <div class="absolute top-0 right-0 transform translate-middle w-6 h-6 grid place-items-center" onclick="signOut()"><i class="fa-solid fa-arrow-right-from-bracket"></i></div>
    </div>    

    <h2 class="mb-4 text-lg font-semibold underline">Completed</h2>

    <% if (tasks.length) { %>
      <ul class="list mb-4">
        <% for (let item of tasks) { %>
          <li class="text-sm mb-2">
            <div class="flex items-center border-b border-solid border-gray-200 pb-2">
              <input type="checkbox" name="<%= item.id %>" id="<%= item.id %>" class="mr-2 block" checked onchange="handleSelectionChange(event, '<%= item.id %>', '<%= item.task %>')" />
              <span class="block flex-1">
                <%= item.task %>
              </span>
              <div class="w-6 h-6 grid place-items-center" onclick="handleDeletion('<%= item.id %>')"><i class="fa-regular fa-trash-can"></i></div>
            </div>
          </li>
          <% } %>
      </ul>
      <% } else { %>
        <p class="text-center text-sm italic mb-4">No data!</p>
        <% } %>
  </main>

  <div class="flex justify-end"><a class="text-end italic text-sm my-4" href="/pending">See pending</a></div>

  <!-- Loading -->
  <%- include('./comp/loading') %>

  <!-- Result pop-up -->
  <%- include('./comp/success-popup') %>
  <%- include('./comp/fail-popup') %>
  <%- include('./comp/session-popup') %>

  <script>
    const loading = document.querySelector('.loading');
    const successPopup = document.querySelector('.success');
    const failPopup = document.querySelector('.fail');
    const sessionPopup = document.querySelector('#session');
    let timer;
    let headers = { 
          "Content-Type": "application/json",
          "Authorization": "Bearer " + localStorage.getItem('accessToken') ?? ''
        };

    function handleSelectionChange(event, id, task) {
      console.log('unselected', event.target.checked, id, task)
      const requestBody = JSON.stringify({ id, task });

      if (!event.target.checked) {
        loading.classList.remove('hidden');

        fetch('/revert', { method: 'POST', body: requestBody, headers })
          .then(res => res.json())
          .then((data) => {
            console.log('handleChange', data);
            if (data?.success) {
              successPopup.classList.remove('hidden');
              
              timer = setTimeout(() => {
                window.location.reload();
              }, 2000)
            } else {
              failPopup.classList.remove('hidden');
              timer = setTimeout(() => {
                failPopup.classList.add('hidden');
              }, 2500)
            }

            if (data?.errorCode == '401' || data?.errorCode == '403') {
              sessionPopup.classList.remove('hidden');
            }
          })
          .catch((err) => console.log(err))
      }
    }

    function handleDeletion(id) {
      loading.classList.remove('hidden');
      clearTimeout(timer);

      fetch(`/completed/${id}`, { method: 'DELETE', headers })
      .then(res => res.json())
      .then((data) => {
        console.log(data);
        if (data?.success) {
          successPopup.classList.remove('hidden');

          timer = setTimeout(() => {
             window.location.reload();
          }, 2000)
        } else if (data?.errorCode == '401' || data?.errorCode == '403') {
          sessionPopup.classList.remove('hidden');
        } else {
          failPopup.classList.remove('hidden');
          timer = setTimeout(() => {
            failPopup.classList.add('hidden');
          }, 2500)
        }
      }).catch((err) => console.log(err))
    }

    function signOut() {
          console.log('signOut');
          loading.classList.remove('hidden');

          fetch("/sign-out", { method: 'POST', headers })
          .then(res => res.json())
          .then((data) => {
            console.log(data);
            if (data?.success) {
                successPopup.classList.remove('hidden');

                timer = setTimeout(() => {
                  window.location.href = '/sign-in';
                }, 2000)
              }
          }).catch((err) => console.log(err))
        }
  </script>
</body>

</html>